.tetem-collector div.tetem-collector,
.luma-hunter div.luma-hunter {
  opacity: 0.9;
}

.tetem-collector div.luma-hunter {
  margin-right: 5px;
}

.tetem-collector {
  .mat-checkbox-frame {
    opacity: 0.8;
    border-color: var(--surface-color);
  }
}

.luma-hunter {
  .mat-checkbox-frame {
    opacity: 0.8;
    border-color: var(--surface-color);
  }
}
