<div
  class="temtem-listing-item-container"
  (click)="openTemtem(info.number)"
  [ngClass]="{
    'caught-luma': isLuma$ | async,
    'caught-temtem': isCaught$ | async
  }"
>
  <div>
    <div class="temtem-listing-item">
      <div
        class="temtem-listing-item-temtem"
        [style.backgroundImage]="
          'url(https://temtem-api.mael.tech/' + info.icon + ')'
        "
      ></div>
      <div
        class="temtem-listing-item-luma"
        [style.backgroundImage]="
          'url(https://temtem-api.mael.tech/' + info.lumaIcon + ')'
        "
      ></div>
      <div class="temtem-listing-item-top">
        <div class="temtem-listing-item-top-types">
          <div
            *ngFor="let type of info.types"
            [style.backgroundImage]="
              'url(https://temtem-api.mael.tech/' + type.icon + ')'
            "
          ></div>
        </div>
        <div class="temtem-listing-item-top-checkboxes">
          <div class="luma-hunter" (click)="temtemLumaToggle(info.number)">
            <mat-checkbox
              style="pointer-events: none;"
              [checked]="isLuma$ | async"
            ></mat-checkbox>
          </div>
          <div class="tetem-collector" (click)="temtemToggle(info.number)">
            <mat-checkbox
              style="pointer-events: none;"
              [checked]="isCaught$ | async"
            ></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="temtem-listing-item-bottom">
      {{ "#" + info.number + " " + info.name }}
    </div>
  </div>
</div>
