.tetem-collector .temtem-listing-item-top-checkboxes div.tetem-collector,
.luma-hunter .temtem-listing-item-top-checkboxes div.luma-hunter {
  display: inline-block;
  opacity: 0.9;
}

.tetem-collector {
  .mat-checkbox-frame {
    opacity: 0.8;
    border-color: var(--surface-color);
  }
}

.luma-hunter {
  .mat-checkbox-frame {
    opacity: 0.8;
    border-color: var(--surface-color);
  }
}

.main-container.tetem-collector,
.main-container.luma-hunter {
  .temtem-listing-item-container:not(.caught-temtem):not(.caught-luma) {
    .temtem-listing-item-temtem {
      opacity: 0.3;
    }
  }
}

.temtem-listing-item-container.caught-luma {
  .temtem-listing-item-temtem {
    opacity: 0;
  }
  .temtem-listing-item-luma {
    opacity: 1;
  }
}

.main-container:not(.luma-hunter) {
  .temtem-listing-item-temtem {
    opacity: 1;
  }
  .temtem-listing-item-luma {
    opacity: 0;
  }
}
