<div
  class="main-container"
  [ngClass]="{
    'luma-hunter': (customOptions$ | async).lumaHunter,
    'temtem-collector': (customOptions$ | async).temtemCollector
  }"
>
  <div>
    <div class="temtem-options">
      <div class="temtem-options-profile">
        <div
          class="temtem-options-profile-image"
          [ngStyle]="{
            'background-image':
              (profileImage$ | async)
                ? 'url(' + (profileImage$ | async) + ')'
                : '',
            'background-position': (profileImage$ | async) ? 'center' : ''
          }"
        ></div>
        <div class="temtem-options-profile-text">
          <input
            placeholder="Click to change Name"
            [value]="getUsername()"
            (keyup)="changeUsername($event.target.value)"
          />
          <div>
            <div
              class="luma-hunter"
              (click)="customOptionsToggle('lumaHunter')"
              [ngClass]="{ active: (customOptions$ | async).lumaHunter }"
            >
              Luma Hunter
            </div>
          </div>
          <div>
            <div
              class="temtem-collector"
              (click)="customOptionsToggle('temtemCollector')"
              [ngClass]="{ active: (customOptions$ | async).temtemCollector }"
            >
              Temtem Collector
            </div>
          </div>
        </div>
      </div>
      <div class="temtem-options-accordion">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filters
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field
              appearance="legacy"
              (input)="changeFilter('number', $event.target.value)"
            >
              <mat-label>Number</mat-label>
              <input matInput placeholder="Number" />
            </mat-form-field>
            <mat-form-field
              appearance="legacy"
              (input)="changeFilter('name', $event.target.value)"
            >
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" />
            </mat-form-field>
            <span>Types</span>
            <div class="temtem-options-types">
              <div
                *ngFor="let type of types$ | async"
                class="temtem-options-type"
                (click)="changeFilterType(type.name)"
                [style.backgroundImage]="
                  'url(https://temtem-api.mael.tech/' + type.icon + ')'
                "
                [style.opacity]="(activeTypes$ | async)[type.name] ? 1 : 0.5"
              ></div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Options
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field
              appearance="legacy"
              (change)="changeImage($event.target.value)"
            >
              <mat-label>Profile Image (url)</mat-label>
              <input
                matInput
                placeholder="Profile Image (url)"
                [value]="profileImage$ | async"
              />
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div
    class="temtem-listing"
    [ngClass]="{
      'temtem-collector': (customOptions$ | async).temtemCollector,
      'luma-hunter': (customOptions$ | async).lumaHunter
    }"
  >
    <app-temtem-listing-item
      *ngFor="let temtem of temtems$ | async; trackBy: trackByFn"
      [info]="temtem"
      class="temtem-listing-item"
    ></app-temtem-listing-item>
  </div>
</div>
