<div class="main-container">
  <div class="temtem-options">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </div>
  <div class="temtem-listing">
    <app-temtem-listing-item
      *ngFor="let temtem of temtems$ | async"
      [info]="temtem"
      class="temtem-listing-item"
    ></app-temtem-listing-item>
  </div>
</div>
