.main-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px auto;
}

.temtem-options {
  top: 40px;
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: var(--box-shadow-level-2);
  background-color: var(--surface-color);
}

.temtem-listing {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--temtem-item-size), 1fr)
  );
}
